body {
    background-color: white;
}
label {
    text-align:left;
}
#headingOne a:hover, #headingOne a:focus, #headingOne a {
    text-decoration: none;
    color:#555 !important;
}
.pl_navigation .inscription {
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    font-size: 15px;
}
#collapseOne {
    padding-top: 10px;
    padding-bottom: 10px;
}
#headingOne {
    margin: -19px -21px -1px -16px !important;
}
#headingOne img {
    height: 20px;
}
#pl_address input, #pl_key input, #pl_address select, #pl_units input, #pl_status select{
    background-color: #FFFFFF;
    border-radius: 4px;
    margin-bottom: 10px;
}
#main {
    background-color: #FFF;
}
#pl_units input[disabled], #pl_address input[disabled]{
    background-color: #eee;
}

 .pl_navigation .nav>li>a, .pl_navigation .nav>li>a:hover,  .pl_navigation .nav>li>a:focus,
 .pl_navigation .nav>li>a:hover>span, .pl_navigation .nav>li>a:focus>span{
    color:#2095f2;
    background-color: #FFFFFF;
    font-size: 14px;
    text-decoration: none;
}
.pl_navigation .nav>li>a:active>span, 
.pl_navigation .nav>li.active>a:active>span,  .pl_navigation .nav>li.active>a:active,.pl_navigation .nav>li>a:active, .pl_navigation .nav>li.active>a>span,  .pl_navigation .nav>li.active>a:focus, .pl_navigation .nav>li.active>a:hover, .pl_navigation .nav>li.active>a:hover>span, .pl_navigation .nav>li.active>a, .pl_navigation .nav>li.active>a:focus>span{
    border-bottom: 3px solid #4277bb;
    padding-bottom: 2px;
    color:#4277bb;
    background-color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
}
.tab_title span:after {
  content: "";
  position: absolute;
  height: 10px;
  border-bottom: 2px solid #dcdcdb;
  top: 0;
  width: 5000%;
}
.tab_title span:after {
  left: 100%;
  margin-left: 15px;
}
.pl_navigation .tab_title {
  line-height: 1;
  text-align: left;
    margin: 0 0 20px 0px;
    font-size: 15px;
    overflow: hidden;
}
.tab_title span {
  display: inline-block;
  position: relative;  
}
.pl_navigation .tab_description {
    margin: 0 0 22px 0;
}
.pl_navigation .form-group, .pl_navigation .form-horizontal {
    float:initial;
}
.pl_navigation .btn-info {
    background-color: #2095f2;
    border-color: #21a6c1;
    min-width: 120px;
}
.pl_navigation .egal {
    width: 20px;
}
.pl_navigation .col_title {
    text-align: left !important;
}
.pl_navigation .small_col {
    width: auto;
    text-align:left !important;
    white-space: nowrap;
}
.pl_navigation .other-wh {
    border-color: silver;
    background: #fcfcfc;
}
.pl_navigation .warehouse {
    justify-content: space-between;
    min-height: 135px;
    margin: 0 40px 40px 0;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
}
.pl_navigation .default-wh {
    border-color: #56b652;
    background: rgba(203,235,199,.4);
}
.pl_navigation .default-wh .btn-default {
    margin: 0 0 0 10px;
    padding: 0 9px;
    color: #56b652;
    font-size: .71429rem;
    line-height: 1.8;
    font-weight: 700;
    letter-spacing: .5px;
    text-transform: uppercase;
    border-width: 1px;
    border-color: #56b652;
    border-style: solid;
    border-radius: 20px;
    background-color: transparent;
    transition: opacity ease-in-out .3s;
}
.pl_navigation .warehouse .title {
    margin: 0;
    overflow: hidden;
    color: #4a4a4a;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.pl_navigation .default-wh .title {
    color: #1f791d;
}
.pl_navigation .warehouse p {
    font-size: 14px;
    margin-bottom: 3px;
}
.pl_navigation .warehouse header {
    display: flex;
    margin-bottom: 8px;
}
@media only screen and (max-width: 998px) {
.unit-block {
    width: 85% !important;
}
}
@media only screen and (max-width: 768px) {
.import-radio {
    margin-left: 26px;
}
}
